@import "tailwindcss";

:root {
}

body {
  font-family: var(--font-base), Arial, Helvetica, sans-serif;
}

/* General classes */

.accent-font {
  font-family: var(--font-accent), Arial, Helvetica, sans-serif;
  font-weight: bold;
}

/* Sections */

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 645px;
  width: 100%;

  font-family: var(--font-accent), Arial, Helvetica, sans-serif;
  text-align: center;

  .hero-title {
    font-weight: bold;
    font-size: 3.625rem;

    max-width: 643px;
  }

  .hero-subtitle {
    font-weight: 600;
    font-size: 1.125rem;

    max-width: 643px;
  }
}
